{% extends 'base.html.twig' %}

{% block title %}Les étapes de la recette{% endblock %}

{% block body %}
{{ form(formulaire)}}
{% for et in etape %}
    <div>
        
    </div>
    {% endfor %}
{% endblock %}