{% extends 'base.html.twig' %}

{% block title %}Les ingrédients de la recette{% endblock %}

{% block body %}
{{ form(formulaire)}}
{% for ing in ingredient %}
    <div>
        {{ing.quantite}}
        {{ing.unite.nom}}
        {{ing.ingredient.nom}}<br>
    </div>
    {% endfor %}
{% endblock %}
