body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h3{
    overflow:hidden; 
    height:3.5em; 
    text-transform:capitalize; 
    margin-top:2%;
}
img{
    border-radius: 5px;
}

main {
    flex: 1;
}

body a {
    text-decoration: none;
    color: #333333;
}

body a:hover {
    color: #cf4727;
    transition: opacity 0.3s ease;
}

.align-center {
    text-align: center;
}


#themeAccueil > div{
    border: solid 1px black;
    border-radius: 5px;
}
.activeFav{
    background-color: yellow;
}

h2 {
    margin-top: 2em;
}

.toque-svg {
    width: 30px;
    height: 30px;
}

.fa-heart{
    width: 2em;
}

.buttonA{
    background-color: #cf4727;
    border: solid 1px #cf4727;
    border-radius: 5px;
    color: white;
    padding: 1em 2em;
    margin: 1em;
}

.buttonA:hover{
    background-color: white;
    color: #cf4727;
    border: solid 1px #cf4727;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
}

.buttonB{
    border: solid 1px #cf4727;
    color: #cf4727;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
}

.buttonB:hover{
    border: solid 1px #333333;
    background-color: #d8d8da;
    color: #333333;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

/******************************************************************/
/**                        SHOW INGREDIENT                       **/
/******************************************************************/
.iconeIngredient{
    box-shadow: 10px 10px 5px rgb(92, 84, 84);
    overflow: hidden;
    text-transform: capitalize;
}
/******************************************************************/
/**                           SHOW RECETTE                       **/
/******************************************************************/
.ingredient-image {
    width: 50px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    object-fit: cover; /* Pour garder le ratio et couper l'image si nécessaire */
    border-radius: 5px;
}


/******************************************************************/
/**                           NAVBAR                             **/
/******************************************************************/
#searchNavbar{
    display: none;
}

#navbar{
    background-color: rgb(250, 248, 244);
}

#navigationToggle > div{
    border-right:solid 1px grey ;
    padding-right: 5%;
    
}

/******************************************************************/
/**                           FOOTER                             **/
/******************************************************************/

footer {
    background-color: rgb(9, 13, 34);
    color: #fff;
    padding: 2em;

    margin-top: 5%;
}

.marge {

    justify-content: space-between;
    margin-top: 2em;
}

footer a {
    color: white; /* Couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement */
    transition: opacity 0.3s ease; /* Transition douce pour l'effet hover */
}

footer a:hover {
    color: #f7bb8b;
}

footer ul {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0;
    margin: 0;
    display: flex; /* Aligne les éléments horizontalement */
}

footer ul li {
    margin-right: 20px; /* Espace entre les éléments de la liste */
}

footer p {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.footer-logo {
    transition: fill 0.1s ease;
}

.footer-logo:hover {
    fill: #cf4727;
}

/******************************************************************/
/**                       RESPONSIVE                             **/
/******************************************************************/

@media screen and (min-width:576px){
    #searchNavbar{
        display: block;
    }
    #logo{
        margin:0% 10%;
    }
    #searchCollapse{
        display: none;
    }
}
@media screen and (min-width:992px){
    #searchNavbar{
        width: 25rem;
    }

}
