{% extends 'base.html.twig' %}

{% block body %}

    <p>Vous n'êtes pas connecté.Connectez-vous ou enregistez-vous.</p>
    <a href="/register"><button>Enregistrez-vous</button></a>
    <a href="/login"><button>Connectez-vous</button></a>
{% endblock %}
