{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="text-center mt-3">Recettes par Catégories</h1>
        <div class="mt-5 d-flex justify-content-center flex-wrap">
                        <p>Aucune Recette. Créez-en une</p>


{% endblock %}
